#controls {
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	margin: 15px;
}

#controls * {
	margin: 5px;
	display:inline-block;
	
}

.play {
	-moz-box-shadow:inset 0px 20px 26px 0px #D8D8D8;
	-webkit-box-shadow:inset 0px 20px 26px 0px #D8D8D8;
	box-shadow:inset 0px 20px 26px 0px #D8D8D8;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #BDBDBD), color-stop(1, #A4A4A4) );
	background:-moz-linear-gradient( center top, #BDBDBD 5%, #A4A4A4 100% );
	background-color:#BDBDBD;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	color:#ffffff;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:1px 1px 5px #000000;
	width: 50px;
	text-align: center;
}
.stop {
	-moz-box-shadow:inset 0px 20px 26px 0px #FF5050;
	-webkit-box-shadow:inset 0px 20px 26px 0px #FF5050;
	box-shadow:inset 0px 20px 26px 0px #FF5050;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DE0000), color-stop(1, #BB0000) );
	background:-moz-linear-gradient( center top, #DE0000 5%, #BB0000 100% );
	background-color:#DE0000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	color:#ffffff;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:1px 1px 5px #000000;
	width: 50px;
	text-align: center;
}


.play:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A4A4A4), color-stop(1, #BDBDBD) );
	background:-moz-linear-gradient( center top, #A4A4A4 5%, #BDBDBD 100% );
	background-color:#A4A4A4;
	cursor: pointer;
}

.stop:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #BB0000), color-stop(1, #DE0000) );
	background:-moz-linear-gradient( center top, #BB0000 5%, #DE0000 100% );
	background-color:#BB0000;
	cursor: pointer;
}

.play:active {
	position:relative;
	top:1px; left: 1px;
}

#container{
	height: 200px;
	width: 200px;
}

* {
    -webkit-user-select: none;
}

body, html {
    margin: 0;
    height: 100%;
    position: relative;
}
body {
    overflow: auto;
}
#controls{
	text-align: center;
}
